* { padding: 0; margin: 0; }

html, body, .row, .container-fluid {
    height: 100%;
}

.header {
    text-align: center !important;
    display: inline-block;
    color: white;
}

.city{
    font-size: 36px;
    font-weight: 300;
}
#search-bar{
    background-color: lightgrey;
    height: 100% ;
}

